.CSS_Table_Example {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 3px 3px 3px 3px #CCCCCC;
	border:1px solid #FFFFFF;
	background-color:#FFFFFF;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSS_Table_Example tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}.CSS_Table_Example table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.CSS_Table_Example tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}

.CSS_Table_Example tr:hover td{
	background-color:white;
	background:-o-linear-gradient(bottom, white 5%, #eeeeee 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, white), color-stop(1, #eeeeee) );
	background:-moz-linear-gradient( center top, white 5%, #eeeeee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="white", endColorstr="#eeeeee");	
	background: -o-linear-gradient(top,white,#eeeeee);
}.CSS_Table_Example tr:first-child td{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
    background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
    background-color:#ff5bb0;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 0px;
	font-size:18px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#ffffff;
}.CSS_Table_Example tr:first-child td:last-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example td{
	background-color:white;
	border-bottom: 1px dashed #cccccc;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica;
	font-weight:bold;
	color:#000000;
}.CSS_Table_Example tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSS_Table_Example tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: -10px -30px 10px -30px;
    color: #969696;
}
h2 {
    font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    margin: -10px -30px 10px -30px;
    color: #969696;
}


